<div style="padding-bottom: 60px"">
  <div style="float: left" >
	   <h1> Team members </h1>
</div>

<%= render "invitation_modal" %>

<%= render "invited_users" , invited_users: @invited_users %>

<%= render "active_users" , active_users: @users %>
