<script> 
    function mouseover() { 
      document.getElementById("edit_link").style.display = "block"; 
    } 
              
    function mouseout() { 
      document.getElementById("edit_link").style.display = "none"; 
    } 
    
</script> 

<h3> Team > <%=@user.email %> </h3>

<%= @user.password_change_link(current_user.id) %>

<%= render "form", user: @user %> 