<script> 
    function mouseover() { 
      document.getElementById("edit_link").style.display = "block"; 
    } 
              
    function mouseout() { 
      document.getElementById("edit_link").style.display = "none"; 
    } 
    
</script> 

<h3> Team > <%=@user.email %> </h3>
<% if current_user.is_admin then %>
	<div style="float: right">
	  <%= link_to 'Remove', remove_member_path(@user),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
	  </div>
	</div>
<% end %>

<%= render "form", user: @user %> 
